<!DOCTYPE html>
<html lang="zh-CN" data-ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Lumino Pro - Login</title>

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/datepicker3.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<link href="css/style.patch.css" rel="stylesheet" />

<!--[if lt IE 9]>
<link href="css/rgba-fallback.css" rel="stylesheet" />
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>

<body data-ng-controller="loginController">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">LightCMS</div>
				<div class="panel-body">
					<form role="form" name="loginForm">
						<fieldset>
							<div class="form-group">
								<input class="form-control" id="login-username" placeholder="账号" name="username" type="text" autofocus data-ng-model="username" required />
							</div>
							<div class="form-group">
								<input class="form-control" id="login-password" placeholder="密码" name="password" type="password" data-ng-model="password" required />
							</div>
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me">记住我
								</label>
							</div>
							<button class="btn btn-primary btn-block" data-ng-click="login()" data-ng-disabled="loginForm.$invalid || lock">登录</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/md5.min.js"></script>
	<script src="js/login.js"></script>
</body>

</html>
