<div class="row">
	<ol class="breadcrumb">
		<li><a href="#/"><span class="fa fa-home"></span></a></li>
		<li class="active">菜单管理</li>
	</ol>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="btn-group pull-left" id="menu-toolbar">
					<button type="button" class="btn btn-default" title="新增" onclick="app.scopes.menuScope.newRecord()"><span class="fa fa-plus"></span></button>
					<button type="button" class="btn btn-default" title="删除" onclick="app.scopes.menuScope.deleteRecords()"><span class="fa fa-trash"></span></button>
				</div>
				<table id="menu-table"></table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="menu-modal-label" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
				<h4 class="modal-title" id="menu-modal-label" data-ng-bind="menu.id == null ? '新增菜单' : '编辑菜单'"></h4>
			</div>
			<div class="modal-body">
				<form name="menuForm">
					<div class="form-group" data-ng-class="{true: 'has-error'}[menu.name != null && menuForm.name.$invalid]">
						<label class="control-label" for="menu-name">名称 <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="menu-name" name="name" data-ng-model="menu.name" placeholder="{{tips.menu.name}}" maxlength="20" required />
						<p class="help-block" data-ng-show="menu.name != null && menuForm.name.$invalid" data-ng-init="tips.menu.name = '必填'" data-ng-bind="tips.menu.name"></p>
					</div>
					<div class="form-group" data-ng-class="{true: 'has-error'}[menu.url != null && menuForm.url.$invalid]">
						<label class="control-label" for="menu-url">链接 <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="menu-url" name="url" data-ng-model="menu.url" placeholder="{{tips.menu.url}}" maxlength="255" required />
						<p class="help-block" data-ng-show="menu.url != null && menuForm.url.$invalid" data-ng-init="tips.menu.url = '必填'" data-ng-bind="tips.menu.url"></p>
					</div>
					<div class="form-group" data-ng-class="{true: 'has-error'}[menu.position != null && menuForm.position.$invalid]">
						<label class="control-label" for="menu-position">位置 <span class="text-danger">*</span></label>
						<input type="number" class="form-control" id="menu-position" name="position" data-ng-model="menu.position" placeholder="{{tips.menu.position}}" maxlength="10" required />
						<p class="help-block" data-ng-show="menu.position != null && menuForm.position.$invalid" data-ng-init="tips.menu.position = '必填'" data-ng-bind="tips.menu.position"></p>
					</div>
					<div class="form-group" data-ng-class="{true: 'has-error'}[menu.isVisible != null && menuForm.isVisible.$invalid]">
						<label class="control-label" for="menu-is-visible">是否可见 <span class="text-danger">*</span></label>
						<select class="form-control" id="menu-is-visible" name="isVisible" data-ng-model="menu.isVisible" data-ng-options="option.value as option.key for option in defaults.IS_VISIBLE" data-required></select>
						<p class="help-block" data-ng-show="menu.isVisible != null && menuForm.isVisible.$invalid" data-ng-init="tips.menu.isVisible = '必填'" data-ng-bind="tips.menu.isVisible"></p>
					</div>
					<div class="form-group" data-ng-class="{true: 'has-error'}[menu.icon != null && menuForm.icon.$invalid]">
						<label class="control-label" for="menu-icon">图标</label>
						<input type="text" class="form-control" id="menu-icon" name="icon" data-ng-model="menu.icon" placeholder="{{tips.menu.icon}}" maxlength="" />
						<p class="help-block" data-ng-show="menu.icon != null && menuForm.icon.$invalid" data-ng-init="tips.menu.icon = ''" data-ng-bind="tips.menu.icon"></p>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" data-ng-click="saveRecord()" data-ng-disabled="menuForm.$invalid || $scope.lock">保存</button>
			</div>
		</div>
	</div>
</div>