<div class="row">
	<ol class="breadcrumb">
		<li><a href="#"><span class="fa fa-home"></span></a></li>
		<li class="active">分类</li>
	</ol>
</div><!--/.row-->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="btn-group pull-left" id="category-toolbar">
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#category-modal"><span class="fa fa-plus"></span></button>
					<button type="button" class="btn btn-default" onclick="app.scopes.categoryScope.deleteRecords()"><span class="fa fa-trash"></span></button>
				</div>
				<table id="category-table"></table>
			</div>
		</div>
	</div>
</div><!--/.row-->

<div class="modal fade" id="category-modal" tabindex="-1" role="dialog" aria-labelledby="categry-modal-label" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
				<h4 class="modal-title" id="category-modal-label">分类</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="category-category-name">分类名称</label>
						<input type="text" class="form-control" id="category-category-name" data-ng-model="category.categoryName" />
					</div>
					<div class="form-group">
						<label for="category-position">排序</label>
						<input type="number" class="form-control" id="category-position" data-ng-model="category.position" />
					</div>
					<div class="form-group">
						<label for="category-is-visible">是否可见</label>
						<select class="form-control" id="category-is-visible" data-ng-model="category.isVisible" data-ng-options="option.value as option.key for option in defaults.IS_VISIBLE"></select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" data-ng-click="saveRecord()">保存</button>
			</div>
		</div>
	</div>
</div>